.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 3px;
}

.App-body {
  /* display: flex;
  flex-direction: column; */
  background-color: #282c34;
  color: white;
  padding-bottom: 3px;
  /* flex: 1; */
}

canvas {
  outline: 5px dotted darkgrey;
  max-width: 1000px;
}
